@import url(common.css);

.nav{
    width:200px;
    height:100%;
    background:#0099cc;
    position:relative;
    overflow:hidden;
}
.nav>ul>li{
    width:200px;
    height:50px;
    color:#fff;
    line-height:50px;
    font-size:16px;
    font-weight:500;
    cursor:pointer;
    text-align:center;
}
.line{  /*가로선*/
	display:block;
    width:200px;
    height:2px;
	background-image:linear-gradient(to right,transparent 0%,rgba(255,255,255,0.5) 50%,transparent 100%);
}

.nav_in2{ /*서브메뉴 오른쪽으로 밀어둠->JQuery에서 적용*/
	text-align:center;
	position:absolute;
    top:0px;
    left:200px;
}
.nav_in2 li, .nav_in2 li a{
	display:block;
	width:200px;
    height:30px;
    color:#eee;
    line-height:30px;
    cursor:pointer;	
}
.nav_in2 li a:hover{background:#666;}
.nav_in2 li:first-child{
    font-size:16px;
    height:50px;
    line-height:50px;
}	