@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

body{
  margin: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* % Keyword with @extend */
/* .shape{
  width: 250px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.212);
} */

/* %: 기능상의 차이는 없고 compile된 css에서 보이지 않도록 하는 것 */
%shape{
  width: 250px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.212);
}

.card{
  display: flex;
  gap: 30px; /* flex에서도 gap을 사용할 수 있다✔ */
  &-item{
    @extend %shape;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}