@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  font-family: 'Raleway', sans-serif;
}

/* Operations */
$fs: 15px;
$box-margin: 50px;

.frame{
  border: 1px solid #000;
  // padding: 10px + 10px;
  // padding: (50px/10); 나누기할 때는 반드시 괄호가 들어가야 함
  margin: $box-margin/2; // 변수일 경우엔 괄호를 넣지 않음
  h1{
    font-size: $fs * 3;
  }
  p{
    border: 1px solid #000;
    margin: $box-margin / 3;
  }
}